<header class="bg-global-header brtop ht-44 dropglow-1 tc" role="group" button-left="Cancel" button-right="Submit" title="New Contact">
  <a href="" route="contacts/list" title="" class="btn--header-primary brm border border--header_button bg-global-header-btn fl mts mls phm ht-30 is_1">
    <span class="text-color-5 lh-30 f6 ng-binding">Cancel</span>
  </a>
  <a href="" route="contacts/create" title="Submit" class="btn--header-primary brm border bg-global-header-btn border--header_button is_1 ht-30 phm pos-rel fr mts mrs">
    <span class="text-color-5 lh-30 f6 ng-binding">Submit</span>
  </a>
  <span class="text-color-5 dib lh-44 fw-semibold f3 ng-binding">New Contact</span>
</header>

<section class="sg-phone--content clear pam ng-scope">

<div class="mbm pos-rel">
  <label class="size-full icon-utility-search pos-abs label--lookup">
    <span class="dn">Lookup</span>
  </label>
  <input type="text" name="default" id="lookup_account" placeholder="Lookup" class="size-full plm prx pvm input input--default input--ph-1 input--focus-1">
</div>


<label label="First Name" placeholder="" value="">
  <span class="db mbs f5 text-color-2 ng-binding">First Name</span>
  <input type="text" id="contact_first_name" name="default" value="" placeholder="" class="mbm size-full phm pvm input input--default input--ph-1 input--focus-1">
</label>

<label label="Last Name" placeholder="" value="">
  <span class="db mbs f5 text-color-2 ng-binding">Last Name</span>
  <input type="text" id="contact_last_name" name="default" value="" placeholder="" class="mbm size-full phm pvm input input--default input--ph-1 input--focus-1">
</label>

<label label="Title" placeholder="" value="">
  <span class="db mbs f5 text-color-2 ng-binding">Title</span>
  <input type="text" id="contact_title" name="default" value="" placeholder="" class="mbm size-full phm pvm input input--default input--ph-1 input--focus-1">
</label>

<label label="Company" placeholder="" value="">
  <span class="db mbs f5 text-color-2 ng-binding">Company</span>
  <input type="text" id="contact_company" name="default" value="" placeholder="" class="mbm size-full phm pvm input input--default input--ph-1 input--focus-1">
</label>

</section>
