<div id="dialogPopup" class="dialog">
<div class="pvx prm border--8">
	<div class="sg-component-container center clear">
	<a href="" route="dialog/close" name="close" title="close" class="db tr size-full pbm">
		<span class="db icon-utility-close f2 wht"></span>
	</a>
	<section class="bg-7 border-bottom border--3">
	  <div class="flag">
	    <div class="flag--image phm">
	      <span class="text-error icon-utility-error"></span>
	    </div>
	    <div class="flag--body">
	      <h1 class="mvm fw-semibold text-color-1 f4">
	        Looks like there's a problem
	      </h1>
	    </div>
	  </div>
	  <p class="mhm mtn f6 text-color-1">
	    Review the errors below. If the problem can't be fixed, go to the full site.
	  </p>
	  <p class="mhm mtm f6 text-color-1">
	    This is a page level error example.
	  </p>
	</section>
	
	<div class="bg-1 pam pos-rel tc">
		<button class="btn bg-secondary-btn btn--secondary pvs size-full brm border border--2 mbm">
			<span class="text-color-4 f3 fw-semibold">Secondary Button</span>
		</button>
		<button class="btn bg-secondary-btn btn--secondary pvs size-full brm border border--2 mbm">
			<span class="text-color-4 f3 fw-semibold">Secondary Button</span>
		</button>
	</div>
	</div>
</div>
</div>
